* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    /*outline: solid red;*/
}

/*Прижимаю футер к низу*/
html, body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

/*Стили для шапки*/
   /*--Контейнер для шапки--*/
.container__header-footer {
    max-width: 1060px;
    margin: 0 auto;
}
    /*-----------------------*/

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.logo {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-left: 95px;
}

.header__nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

/*Стили для футера*/
footer {
    background-color: #f0f0f0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
}
.condition {
    display: flex;
}

.social {
    display: flex;
}

.footer__link {
    color: #000000;
    margin-left: 17px;
}
    
