* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}

.header__container{
    max-width: 1200px;
    margin: 0 auto;
}

.header__top{
    padding: 70px 0;
}

.logo{
    color: #000000;
    font-family: Inconsolata;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
}
.nav__navbar{
    display: flex;
}
.nav__navbar-item {
    list-style-type: none;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    margin-left: 121px;
    
}
.header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__img{
    
   
}
.header__inner-img{
    display: block;
    width: 100%;;
}

.block-info__inner{
    margin-top: 150px;
}

.title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 35px;
}

.text {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    font-weight: 400;
}

.lifestyle__items{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10em;
    grid-column-gap: 4.4em;
}

.lifestyle__img{
    margin-bottom: 70px;
}

.sign-up{
    background-color: #f0f0f0;
}

.sign-up__inner{
    max-width: 400px;
    margin: 0 auto;
    padding: 75px 0;
    margin-top: 120px;
}


.sign-up__input {
    border: none;
    border-bottom: 2px solid black;
    display: block;
    width: 90%;
    background-color: #f0f0f0;
    margin-top: 80px;
}