* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: solid red;*/
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}
/*Контейнер для шапки и футера*/
.container-max {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0px 70px;
}

/*Контейнер для*/
.container-min {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 70px;
}

/*Прижимаю футер к низу*/
html, body {
    height: 100%;
}

body {
    color: #626262;
    font-family: "Playfair Display";


}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

/*Стили для шапки*/
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.logo {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Inconsolata', monospace;
}

.header__nav-list {
    display: flex;
}

.header__nav-item:not(:first-child) {
    margin-left: 95px;
}

.header__nav-item:first-child {
    margin-left: 30px;
}

.header__nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.header__btn-menu {
    display: none;
    background-color: transparent;
    border: none;
    margin-left: 120px;
}

span {
    background-color: #000;
    width: 37px;
    height: 3px;
    border-radius: 2px;
    display: block;
    margin: 6px 0;
}

/*Стили для контента*/
.top__img {
    width: 100%;
    height: 100%;
}

.top {
    margin-bottom: 135px;
}

.post-text {
    margin-bottom: 200px;
}

.title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;

}

/*Стили для футера*/
footer {
    background-color: #f0f0f0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
}

.condition {
    display: flex;
    margin-right: 50px;
}

.social {
    display: flex;
}

.footer__item:not(:first-child) {
    margin-left: 17px;
}

.footer__link {
    color: #000000;
}
/*Адаптив*/

@media(max-width: 800px) {
    .header__nav-link {
        font-size: 18px;
    }
    .header__nav-item:not(:first-child) {
        margin-left: 30px;
    }
}
@media(max-width: 690px) {
    .header__nav-item {
        display: none;
    }
    .header__inner { 
        justify-content: space-between;
    }
    .logo {
        font-size: 40px;
    }
    .header__btn-menu {
        display: block;
    }
}